<!DOCTYPE html>
<html ng-app="movieListApp">
<head>
  <title>movieList</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>
<div class="container-fluid" ng-controller="testController">
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "alert alert-#{key} no-margin") %>
  <% end %>
  <%= yield %>
</div>

</body>
</html>
